<p>Hecho con ❤️ en Programación Web Full Stack by Javier Oyarzo <a id="github-link" href="https://github.com/javiboin">@Javiboin</a></p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>