<header>
    <h1>Web App - Bandas Musicales</h1>

    <div class="main-menu">
        <div>
            <a class="buttons" href="/bands">Bandas</a>
            <a class="buttons" href="/genres">Géneros</a>
        </div>
    </div>
</header>