<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <h2>Mostrar listado de las bandas</h2>
    
    <ul>
      <li> <a href="/bands/id/1">Nombre de cada banda o grid de imagenes de cada banda</a> </li>
    </ul>

    <a href="/">Volver Atras</a>

    <footer>Aca va un footer</footer>
  </body>
</html>