<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <h2>Mostrar listado de generos musicales</h2>
    
    <ul>
      <li> <a href="/genres/generoMusical">Nombre de cada genero musical</a> </li>
    </ul>

    <a href="/">Volver Atras</a>

    <%- include('./partials/footer') %>
  </body>
</html>