<!DOCTYPE html>
<html>
	<%- include('./partials/head') %>
<body>
	<div class="main-container">
		<%- include('./partials/header') %>
		
		<div class="space"></div>

		<%- include('./partials/footer') %>
	</div>
</body>
</html>
