<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    
    <a href="/bands">Bandas</a>
    <a href="/genres">Generos</a>

    <%- include('./partials/footer') %>
  </body>
</html>
