<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="main-menu">
      <a href="/bands">Bandas</a>
      <a href="/genres">Generos</a>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
