body {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 20px;
  background: linear-gradient(to right, #872323, #22092C);
  color: black;
}

.main-container {
  padding: 50px;
  border: 1px solid #131313;
  border-radius: 40px;
  margin: 1rem auto;
  width: 90%;
  background-color: #f0dfdf;
  min-height: 60vh;
}

a {
  color: black;
  text-decoration: none;
  transition: all .8s ease;
}

a:hover{
  color: #872323;
  cursor: pointer;
}

.main-menu{
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start; 
  text-align: center;
}

.main-menu div{
  display: flex;
  gap: 20px;
}

.buttons {
  border: 1px #131313 solid;
  background-color: #995252;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.buttons:hover {
  background-color: #22092C;
  color: white;
}

.space{
  min-height: 60vh; 
  margin-top: 1.5rem;
}

#card-band {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#section-songs {
  display: flex;
  flex-direction: row;
  margin: 30px;
  border: #22092C solid 3px;
  border-radius: 40px;
  padding: 30px;
  background-color: rgb(75, 75, 73);
}