body {
  padding: 50px;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 20px;
  background: linear-gradient(to right, #872323, #22092C);
  color: #ffffff;
}

a {
  color: #dddddd;
  text-decoration: none;
  transition: all .8s ease;
}

a:hover{
  color: #6d6a6a;
}

li {
  list-style-type: none;
}

.main-menu a{
  border: 1px #131313 solid;
  background-color: #995252;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
}

.main-menu a:hover{
  background-color: #22092C;
  color: white;
}

.btn-back{
  border: 1px #131313 solid;
  background-color: #995252;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
}

.btn-back:hover{
  background-color: #22092C;
  color: white;
}

#card-band {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#section-songs {
  display: flex;
  flex-direction: row;
  margin: 30px;
  border: #22092C solid 3px;
  border-radius: 40px;
  padding: 30px;
  background-color: rgb(75, 75, 73);
}