body {
  padding: 50px;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 20px;
  background: linear-gradient(to right, #872323, #22092C);
  color: #ffffff;
}

a {
  color: #dddddd;
  text-decoration: none;
}

li {
  list-style-type: none;
}
